@font-face {
  font-family: "BAMIN";
  src: url("./fonts/BMJUA_ttf.woff") format("woff");
}

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "@font-face";
}

input {
  block-size: 20px;
}

button {
  margin-left: 10px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linaer;
}

.hidden {
  visibility: hidden;
}

#clock {
  color: rgb(184, 130, 69);
  font-weight: bold;
}

#quotes {
  margin-top: 0;
  font-weight: 800;
  color: rgb(184, 130, 69);
}

#login-form {
  height: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 54%;
  width: 10px;
  height: 10px;
}

#header {
  position: fixed;
  font-size: 28px;
  margin-top: 0;
  width: 100%;
  text-align: center;
}

#left_footer {
  position: fixed;
  bottom: 0;
}

#left_footer iframe {
  margin-left: 1%;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 3px;
  border-color: #a4193d;
}

#left_footer span {
  color: rgb(77, 2, 24);
  margin-left: 1%;
  padding-left: 200px;
  padding-right: 201px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-color: #a4193d;
}

#todo_border {
  position: fixed;
  right: 0;
  margin-top: 50px;
  left: 75%;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  text-align: center;
  border-color: #a4193d;
  color: rgb(77, 2, 24);
  font-weight: bold;
}

#todo_border img {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
}

#todo_border #todo-form p {
  display: inline;
  position: absolute;
  top: 0;
}

#todo_border #todo-form input {
  display: block;
  top: 0;
}

#local_weather {
  position: absolute;
  width: 300px;
  height: 100px;
  overflow: auto;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  font-size: 25px;
}

#local_weather span:nth-child(1) {
  margin-top: 50px;
  color: rgb(184, 130, 69);
}

#local_weather span:last-child {
  margin-top: 50px;
  color: rgb(77, 2, 24);
}

#local_img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 20px;
  max-height: 20px;
  margin: 28px;
  margin-left: 65px;
}
